header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.nav{
    width: 70%;
}
.nav__list{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
nav .list__item{
    width: 85px;
}
.list__item a{
    display: block;
    height: 100%;
}

.list__item:hover a{
    overflow: hidden;
    border-right: 2px solid var(--color-link);
    width: 8ch;
    white-space: nowrap; /* Para evitar saltos de línea */
    animation: typing 2s steps(8), bling .5s infinite step-end alternate; /* Duración y número de pasos */
}

@keyframes typing {
    from {width: 0;}
}
@keyframes bling {
    50% {border-color: transparent;}
}