.main__section {
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    min-width: 270px;
    gap: 20px
}

.main__section:nth-child(odd) {
    background-color: var(--color-bg-2);
}

.section__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
/* profile */
.main__section--profile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile__img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: var(--color-title-2);
    overflow: hidden;

}

.profile__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__img:hover {
    background: linear-gradient(225deg, var(--color-title) 0%, var(--color-title-2) 50%, var(--color-title) 100%);
    background-size: 600% 600%;
    animation: gradient-animation 5s;
}
/* about me */
.main__section--about-me{
    text-align: center;
}
.about-me__summary>p{
    margin-bottom: 20px;
}



@keyframes gradient-animation {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 25% 100%
    }

    100% {
        background-position: 0% 0%
    }
}
